<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Add Numbers: </h2>
<input type="text" [(ngModel)]="elems"/>
<button (click)="add()">Calculate addition</button>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">test 1</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">test 2</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">test 3</a></h2>
  </li>
</ul>

